BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left
SortIncludes: CaseSensitive
TabWidth: 4
UseTab: Never
